<% comments.each do |comment| %>
	<div>
		<% unless comment.user.blank? %>
			<%= link_to user_path(comment.user_id) do %>
				<%= attachment_image_tag comment.user, :profile_image, :fill, 50, 50, class:"rounded-circle profile_image mr-3 mb-3", fallback: "profile1.jpg", size: "50x50" %>
			<% end %>
		<% end %>
		<% unless comment.user.blank? %>　<!-- comment.userがnil? or empty?だったら -->
			<%= comment.user.name %><br>
			<%= comment.comment %>
			<% if comment.user == current_user %>
				<button><%= link_to "削除", post_comment_path(comment.post_id, comment.id), method: :delete, remote: true, :style=>"color:white; text-decoration: none;" %></button>
			<% end %>
		<% end %>
	</div>
	<br>
<% end %>