<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<p>タグリスト</p>
			<% @tag_list.each do |list| %>
				<p><%=link_to list.tag_name,posts_path(tag_id:list.id)%><%= list.posts.count %></p>
			<% end %>
		</div>
		<div class="col-xs-12 col-sm-9">

			<!-- サクセスメッセージ -->
			<% if flash[:notice] %>
				<div class="flash">
					<%= flash[:notice] %>
				</div>
			<% end %>

			<h4>投稿一覧</h4>

			<% @posts.each do |post| %>

					<%= link_to post_path(post.id), 'data-turbolinks': false do %>
						<%= post.title %>
						<%= attachment_image_tag post, :post_image, :fill, 200, 200, fallback: "profile1.jpg", size: "200x200" %>
					<% end %>
			<% end %>

		</div>
	</div>
</div>