<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<p>タグリスト</p>
			<% @tag_list.each do |list| %>
				<p><%=link_to list.tag_name,blogs_path(tag_id:list.id)%><%= list.blogs.published.count %></p>
			<% end %>
		</div>
		<div class="col-xs-12 col-sm-9">

			<!-- サクセスメッセージ -->
			<% if flash[:notice] %>
				<div class="flash">
					<%= flash[:notice] %>
				</div>
			<% end %>

			<!-- 投稿一覧 -->
	<!-- 	<div id="post_lists">
			<%#= render partial: 'post_list', locals: { post: @posts } %>
			</div> -->
			<h4>投稿一覧</h4>
			<% @posts.each do |post| %>
				<%= link_to post_path(post.id) do %>
					<%= post.title %>
					<% if post.post_image.present? %>
						<% post.post_image.each do |image| %>
						    <%= attachment_image_tag image, :image, :fill, 200, 200 %>
				    	<% end %>
					<% else %>
						<%= image_tag 'profile1.jpg', size: '200x200' %>
					<% end %>
					<% post.tags each do |t| %>
						<% link_to t.tag_name, posts_path(tag_id: t.id) %>
					<% end %>
				<% end %>
			<% end %>

		</div>
	</div>
</div>