<div class="container">
	<div class="row">
		<!-- サクセスメッセージ -->
		<% if flash[:notice] %>
			<div class="flash">
				<%= flash[:notice] %>
			</div>
		<% end %>
		<div class="col-sm-3">

		</div>
		<div class="col-xs-12 col-sm-5">
		    <%= attachment_image_tag @post, :post_image, :fill, 200, 200, fallback: "profile1.jpg", size: "200x200" %>

			<h4>住所</h4>
		    <%= @post.address %>

		    <h4>地図</h4>
		    <div id="map"></div>
		    <style>
		    	#map {
		    		height: 300px;
		    		width: 300px;
		    	}
		    </style>
		    <script>
		    	let map

		    	function initMap(){
		    		geocoder = new google.maps.Geocoder()

		    		map = new google.maps.Map(document.getElementById('map'),{
		    		  //lat=緯度、lng=経度
		    		  center: {lat: 34.996556, lng:136.864722},
		    		  zoom: 12,
		    		});
		    		//positionに指定した座標にピンを表示する
		    		marker = new google.maps.Marker({
		    		  position: {lat: 34.996556, lng:136.864722},
		    		  map: map
		    		});
		    	}
		    </script>
		    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['YOUR_API_KEY'] %>&callback=initMap" async defer></script>
		</div>
		<div class="col-sm-4">
			<% if current_user.id == @post.user_id %>
				<%= link_to "編集", edit_post_path(@post.id) %>
				<%= link_to "削除", post_path(@post.id), method: :delete %>
			<% end %>
			<h4>公園名</h4>
			<%= @post.title %>

			<h4>ジャンル</h4>
			<% @post_tags.each do |tag| %>
				<%= link_to tag.tag_name, posts_path(tag_id: tag.id) %>
			<% end %>

			<h4>説明</h4>
			<%= @post.body %>

			<!-- いいね関係 -->
			<div id="likes_buttons">
	            <%= render 'likes/like', post: @post %>
            </div>

			<!-- コメント一覧 -->
			<div class="comment-wrapper border-top　mb-10">
			  <h4 class="mt-5">コメント一覧</h4>

				<div id="comments_area">
					<%= render partial: 'comments/index', locals: { comments: @comments } %>
				</div>
				<!-- コメント投稿フォーム -->
			  <% if user_signed_in? %>
			   <%= render partial: 'comments/form' %>
			  <% end %>
			</div>
		</div>
	</div>
</div>